{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un film</title>
{% endblock %}

{% block body %}
    <fieldset class="fieldset_add_type">
         <legend> Ajout d'un film</legend>

         <form method="post" action="/film/add" >
             <div class="form-group">
                  <label for="titreFilm">Titre du film : <span class="obligatoire">*</span></label><br>
                 <input id="titreFilm" type="text" name="titreFilm" size="18" value="{{ films.titreFilm }}" placeholder="Saisir le titre du film" required>

                 <br><label for="dateSortie">Date de sortie : <span class="obligatoire">*</span></label><br>
                 <input id="dateSortie" type="text" name="dateSortie" size="18" value="{{ films.dateSortie}}" placeholder="Saisir dateSortie" required><br>

                 <label for="nomRealisateur ">Nom du realisateur : <span class="obligatoire">*</span></label><br>
                 <input id="nomRealisateur " type="text" name="nomRealisateur" size="18" value="{{ films.nomRealisateur  }}" placeholder="Saisir nomRealisateur" required><br>

                 <label for="duree">Durée du film : <span class="obligatoire">*</span></label><br>
                 <input id="duree" type="text" name="duree" size="18" value="{{ films.duree  }}" placeholder="Saisir une duree" required><br>

                 <label for="genre_id">Genre : <span class="obligatoire">*</span></label><br>
                <select name="genre_id" required>
                <option value="">Sélectionner un genre</option>
                {% for genre in genresFilms %}
                <option value="{{ genre.id }}">{{ genre.libelleGenre }}</option>
                {% endfor %}
                </select><br>

             <div class="mb-3">
                <label for="affiche" class="form-label">Affiche : <span class="obligatoire">*</span></label>
                <input class="form-control" type="file" id="affiche" name="affiche" value="{{ films.affiche  }}" required>
            </div>

                 <button type="submit" class="btn btn-primary">Valider</button>
                 <button type="button" class="btn btn-danger"><a href="/genre-film/show" >Annuler</a></button>
             </div>

         </form>

    </fieldset>
{% endblock %}
