{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les films</title>
{% endblock %}

{% block body %}
<h3>Films</h3>
<div class="btn-add">
    <a class="btn btn-primary" href="/film/add">Ajouter film</a>&nbsp;
</div>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th><th>Titre</th><th>Date de sortie</th><th>Nom du réalisateur</th><th>Durée</th><th>ID Genre</th><th>Affiche</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% if films | length >= 1 %}
        {% for ligne in films %}
            <tr>
                <td>{{ ligne.id }}</td>
                <td>{{ ligne.titreFilm }}</td>
                <td>{{ ligne.dateSortie }}</td>
                <td>{{ ligne.nomRealisateur }}</td>
                <td>{{ ligne.duree }}</td>
                <td>{{ ligne.genre_id }}</td>
                <td>
                    {{ ligne.affiche }}
                    <img style="width:40px;height:40px" src="/static/images/{{ ligne.affiche }}" alt="Affiche de {{ ligne.titreFilm }}">
                </td>
                <td>
                    <a class="btn btn-primary" href="/film/edit?id={{ ligne.id }}">Éditer</a>&nbsp;
                    <a class="btn btn-danger" href="/film/delete?id={{ ligne.id }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="9" class="text-center">Pas de film</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}