<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
        <a class="nav-link active" href="/">Layout</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="/film/show" id="filmDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Films
        </a>
        <ul class="dropdown-menu" aria-labelledby="filmDropdown">
            <li><a class="dropdown-item" href="/film/show">Afficher les films</a></li>
            <li><a class="dropdown-item" href="/film/add">Ajouter des films</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="/genre-film/show" id="genreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres
        </a>
        <ul class="dropdown-menu" aria-labelledby="genreDropdown">
            <li><a class="dropdown-item" href="/genre-film/show">Afficher les genres de films</a></li>
            <li><a class="dropdown-item" href="/genre-film/add">Ajouter des genres de films</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/film/filtre">Filtrer les films</a>
    </li>
</ul>
    </div>
  </div>
</nav>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<hr>