{% extends 'layout.html' %}

{% block title %}
    <title>Modifier un genre</title>
{% endblock %}

{% block body %}
    <fieldset class="fieldset_add_type">
        <legend>Modifier un genre</legend>

        <form method="post" action="/genre-film/edit">
            <div class="form-group">
                <input type="hidden" name="id" value="{{ genresFilms.id }}" id="id">
                <label for="libelleGenre">Genre du film : <span class="obligatoire">*</span></label><br>
                <input type="text" name="libelleGenre" size="18" value="{{ genresFilms.libelleGenre }}" id="libelleGenre" required><br>
                <button type="submit" class="btn btn-primary" value="Modifier">Modifier</button>
                <a class="btn btn-danger" href="/genre-film/show">Annuler</a>
            </div>
        </form>
    </fieldset>
{% endblock %}