{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les genres</title>
{% endblock %}

{% block body %}
<h3>Genres</h3>
    <div class="btn-add">
<a class="btn btn-primary" href="/genre-film/add">Ajouter un genre</a>&nbsp;
    </div>
    <br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>id</th><th>Libellé du genre</th><th>Logo</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if genresFilms | length >= 1 %}
        {% for ligne in genresFilms %}
           <tr>
                  <td>{{ ligne.id }}</td>
                  <td>{{ ligne.libelleGenre}}</td>
                  <td>{{ ligne.logo}}</td>
                  <td>
                      <a class="btn btn-primary" href="/genre-film/edit?id={{ ligne.id }}">editer</a>&nbsp;
                      <a class="btn btn-danger" href="/genre-film/delete?id={{ ligne.id }}" >supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de genres
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}